# Virtual environment
.venv/
venv/
ENV/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor & System settings
.vscode/
.idea/
.DS_Store
Thumbs.db

# Course materials
static/assets/icons/Sigma-Web-Dev-Course-main/
static/assets/icons/Sigma-Web-Dev-Course-main.zip
